.fc-day-number {
    font-size: 1.5em;
    color: #ffff;
}

/* override day title color and size */
.fc-day-header {
    font-size: 1.5em;
    color: #00b294;
}
.fc-header-toolbar {
    font-size: 10px;
    height: 90px;
}
.fc-toolbar-title {
    font-size: 9px;
}
.fc-toolbar-chunk:nth-child(1) {
    display: block;
    width: 20%;
    font-size: 9px;
    box-sizing: border-box;
}
.fc-toolbar-chunk:nth-child(2) {
    display: block;
    width: 30%;
    font-size: 10px;
    box-sizing: border-box;
}

.fc-toolbar-chunk:nth-child(3) {
    display: block;
    justify-content: center;
    align-items: center;
    width: 50.5%;
    font-size: 15px;
    box-sizing: border-box;
}
colgroup {
    background-color: #1f2937;
}

.fc-col-header-cell-cushion {
    color: white;
    text-decoration: none;
}

.fc-scrollgrid-sync-inner {
    background-color: #1f2937;
}

.fc-daygrid-day-number {
    color: white;
    text-decoration: none;
}

.fc-event {
    color: white;
    background-color: saddlebrown;
}
